{% extends "base.html" %} {% load static %}
{% block content %}
<style>
    input, #id_email {
        color : red;
    }
</style>
<!--
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
<h3>Booking Appointment</h3>
<ul>
  {% for patient in patients %}
  <li>
    {{patient.name}} - {{patient.contact}} - {{Patient.email}} - {{Patient.booking_date}} - {{Patient.appointment_date}} - {{Patient.helth_department }} - {{Patient.history }}
  </li>

<a onclick="myFunction('{{patient.id}}')">Delete </a>
<a  href="{% url 'booking_app:edit' id=patient.id %}" >Edit </a>

{% endfor %}
</ul>
<form action="{% url 'booking_app:add' %}" method="post">
{% csrf_token %} {{form.as_p}}
<input type="datetime-local" id="birthdaytime" name="birthdaytime">
<button type="submit">Send</button>
<a  href="{% url 'booking_app:index' %}">Cancel</a>
</form>

<script>
  function myFunction(patient_id) {
      var r = confirm("sure you want to delete?");
      if (r == true) {
          console.log(patient_id);
          console.log("yes");
          const url = "http://127.0.0.1:8000/delete/"+patient_id
          const Http = new XMLHttpRequest();
          Http.open("GET", url);
          Http.send();

          Http.onreadystatechange = (e) => {console.log(Http.responseText)}
          //window.location.replace("http://127.0.0.1:8000");
      } 
      //window.location.href = "/";
  }
</script>
</html>
-->
	<!-- Start Appointment -->
	<div id="appointment" class="appointment-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Appointment</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
                        <div class="well-title">
                            <h2>Book an Appointment</h2>
                        </div>
                       
                            <!-- Form start -->
                            <form action="{% url 'booking_app:add' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name</label>
                                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Form start -->
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label class="control-label" for="name">Contact</label>
                                      <input id="contact" name="contact" type="text" placeholder="Contac" class="form-control input-md">
                                  </div>
                              </div>
                              <!-- Form start -->
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Booking Date</label>
                                    <input id="booking_date" name="booking_date" type="text" placeholder="Booking Date" class="form-control input-md">
                                </div>
                            </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Appointment Date</label>
                                       <!-- <input id="appointment_date" name="appointment_date" type="text" placeholder="Appointment Date" class="form-control input-md">-->
                                        <input type="datetime-local" id="appointment_date" name="appointment_date">
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <!-- 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Appointment Time</label>
                                        <select id="appointment_time" name="appointment_time" class="form-control">
                                            <option value="8:00 to 9:00">8:00 to 9:00</option>
                                            <option value="9:00 to 10:00">9:00 to 10:00</option>
                                            <option value="10:00 to 1:00">10:00 to 1:00</option>
                                        </select>
                                    </div>
                                </div>
                                -->
                                <!-- Text input -->
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label class="control-label" for="name">History</label>
                                      <input id="history" name="history" type="text" placeholder="History " class="form-control input-md">
                                  </div>
                                </div>
                            
                                <!-- Select Basic --> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="appointmentfor">Helth Department</label>
                                        <select id="helth_department" name="helth_department" class="form-control">
                                            {% for x, y in form.fields.helth_department.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                    
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                    
                                <!-- Button -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="new-btn-d br-2">Make An Appointment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{form.email.label}}
                        {{form.email}}

                        
          
                        <!-- form end -->
                       
                    </div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
                        <div class="well-title">
                            <h2>Why Appointment with Us</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">24/7 Hours Available</h4>
                                <div class="feature-content">
                                    <p>Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis vehicula et, iaculis in magnestibulum.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Experienced Staff Available</h4>
                                <div class="feature-content">
                                    <p>Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum quis feugiat risus. </p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Low Price & Fees</h4>
                                <div class="feature-content">
                                    <p>Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer auctor elementum nulla suscipit in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
  <!-- End Appointment -->
  {% endblock content %}